
/* ----------formulario------------- */

.container {
    background-color: rgb(214, 222, 178);
    width: 400px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-radius: 8px;
    margin: 0 auto; 
    padding: 20px; 
}